In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
Jul18 = pd.read_csv("../Resources/July18CB.csv")
Aug18 = pd.read_csv("../Resources/Aug18CB.csv")
Sep18 = pd.read_csv("../Resources/Sep18CB.csv")
Jul19 = pd.read_csv("../Resources/July19CB.csv")
Aug19 = pd.read_csv("../Resources/Aug19CB.csv")
Sep19 = pd.read_csv("../Resources/Sep19CB.csv")

In [3]:
for i in Jul18:
    Jul18["Month"] = "July"
    
for i in Jul18:
    Jul18["Year"] = "2018"

for i in Aug18:
    Aug18["Month"] = "August"
    
for i in Aug18:
    Aug18["Year"] = "2018"
    
for i in Sep18:
    Sep18["Month"] = "September"
    
for i in Sep18:
    Sep18["Year"] = "2018"

for i in Jul19:
    Jul19["Month"] = "July"
    
for i in Jul19:
    Jul19["Year"] = "2019"

for i in Aug19:
    Aug19["Month"] = "August"
    
for i in Aug19:
    Aug19["Year"] = "2019"
    
for i in Sep19:
    Sep19["Month"] = "September"
    
for i in Sep19:
    Sep19["Year"] = "2019"

In [4]:
all_data = Jul18.append([Aug18, Sep18, Jul19, Aug19, Sep19])

In [5]:
len(all_data["tripduration"])

267423

In [8]:
all_data.to_csv("../Tableau/All_CB_Data.csv")

In [7]:
NY2019 = pd.read_csv("../Resources/201909CB.csv")
NY2018 = pd.read_csv("../Resources/201809CB.csv")
NY2017 = pd.read_csv("../Resources/201709CB.csv")

In [8]:
for i in NY2019:
    NY2019["Year"] = "2019"
    
for i in NY2018:
    NY2018["Year"] = "2018"
    
for i in NY2017:
    NY2017["Year"] = "2017"

In [10]:
all_NY_data = NY2017.append([NY2018, NY2019])

In [11]:
len(all_NY_data)

6200882

In [12]:
all_NY_data.to_csv("../Tableau/All_NYCB_Data.csv")

In [13]:
all_NY_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Year
0,362,2017-09-01 00:00:17,2017-09-01 00:06:19,3331.0,Riverside Dr & W 104 St,40.801343,-73.971146,3328.0,W 100 St & Manhattan Ave,40.795000,-73.964500,14530,Subscriber,1993.0,1,2017
1,188,2017-09-01 00:00:21,2017-09-01 00:03:30,3101.0,N 12 St & Bedford Ave,40.720798,-73.954847,3100.0,Nassau Ave & Newell St,40.724813,-73.947526,15475,Subscriber,1988.0,1,2017
2,305,2017-09-01 00:00:25,2017-09-01 00:05:30,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3141.0,1 Ave & E 68 St,40.765005,-73.958185,30346,Subscriber,1969.0,1,2017
3,223,2017-09-01 00:00:52,2017-09-01 00:04:36,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,473.0,Rivington St & Chrystie St,40.721101,-73.991925,28056,Subscriber,1993.0,1,2017
4,758,2017-09-01 00:01:01,2017-09-01 00:13:40,3427.0,Lafayette St & Jersey St,40.724305,-73.996010,3431.0,E 35 St & 3 Ave,40.746524,-73.977885,25413,Subscriber,1987.0,1,2017